{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for key, value in entries.items() %}
    <li><h2>{{ key }}</h2>
        {% for item in value %}
            {% if item.post_type == "text" %}
                <p> {{ item.content }} </p>
            {% elif item.post_type == "photo" %}
                <img src= "{{ url_for('download_file', filename=item.content) }}" >
            {% endif %}
        {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}